@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  color: #333333; /* Texto gris oscuro */
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.header_nav {
  position: relative;
}

.rrss {
  display: flex;
  gap: 2rem;
  list-style: none;
  position: absolute;
  top: 2rem;
  left: 20rem;
  z-index: 2;
}

.color_rrss {
  color: #fff;
  font-size: 2rem;
}
.color_rrss:hover {
  color: #51cdbe;
  transform: scale(1.2);
}
.hero img {
  width: 100vw;
  height: 85vh;
  filter: brightness(40%);
}

.hero_content {
  width: 30%;
  color: whitesmoke;
  height: 25rem;
  background: rgba(60, 60, 60, 0.221);
  position: absolute;
  top: 24%;
  left: 15rem;
  transition: all 0.3s;
}

.hero_content:hover {
  transform: rotate(360deg);
  color: #f4ae5e;
}

.hero_content h2 {
  padding-top: 5rem;
  padding-left: 3rem;
  font-size: 4.5rem;
  font-weight: 200;
  font-style: normal;
}

.hero_content h1 {
  padding-left: 3rem;
  font-size: 5rem;
  font-weight: 700;
}

.hero_content p {
  font-size: 1.8rem;
  padding-left: 3rem;
  letter-spacing: 0.3rem;
}
.menu_nav {
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 5px rgb(240, 240, 240);
  position: relative;
}
.rrss__nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.color_rrss__green {
  color: #51cdbe;
  font-size: 2rem;
}
.menu {
  display: flex;
  gap: 3.5rem;
  list-style: none;
}
.menu li a:link,
.menu li a:visited {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

.menu li a:active,
.menu li a:hover {
  color: #51cdbe;
}
.menu_active {
  color: #51cdbe;
}
.active {
  display: none;
}

.name_hero > h2 {
  text-align: center;
  font-weight: 200;
}
.name_hero > h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
  color: #868686;
}
.img_header {
  border-radius: 50%;
  border: 0.5rem solid #51cdbe;
  width: 17rem;
  height: 17rem;
  position: absolute;
  top: -5.5rem;
}

/*about section */

.about {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
  padding-top: 7rem;
}

.about article {
  border-right: 1px solid #ebebeb;
  width: 33%;
  padding-left: 5rem;
}

.about article:last-of-type {
  border: none;
}

.about_header h2 {
  width: 100%;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 100;
  padding-top: 7rem;
  color: rgb(56, 55, 55);
  padding-bottom: 0;
}

hr {
  width: 2rem;
  margin: 0.8rem 0 5rem 0;
  border: 1px #51cdbe solid;
}
.about h3 {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 4rem 2rem 0;
}

.about p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #868686;
  padding: 0 4rem 2rem 0;
}
.header_nav__about {
  color: #51cdbe;
}
.btn_cv {
  width: 15rem;
  padding: 1rem;
  border-radius: 2rem;
  background: transparent;
  border: #51cdbe 1px solid;
  color: #51cdbe;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.btn_cv:hover {
  cursor: pointer;
  background: #51cdbe;
  color: white;
}
/*RESUME SECTION*/
.resume {
  display: flex;
  gap: 3rem;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  padding-top: 7rem;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.item {
  width: 28%;
  border: 1px solid #ebebeb;
  height: auto;
  padding: 5rem;
}
.item_skills {
  display: flex;
  flex-flow: column;
  border: none;
  padding: 0;
  gap: 2.5rem;
  height: auto;
}
.skills,
.language {
  height: auto;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 5rem 5rem 1rem 5rem;
  position: relative;
}

.resume > h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
  margin-left: 10rem;
}

.resume_hr {
  margin-bottom: 1.4rem;
}
.item h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.item h3 {
  color: #51cdbe;
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.item h4 {
  padding: 1rem 0;
}
.item p {
  font-size: 1.5rem;
}

.item_content {
  border-bottom: 1px solid #ebebeb;
  padding: 2.45rem 0;
}

.item_content:last-of-type {
  border: none;
}

.item ul {
  list-style: none;
}
.item ul li {
  font-size: 1.5rem;
}

.es,
.en,
.fr,
.hyc,
.js,
.react,
.nd,
.psql {
  width: 100%;
  border: 5px solid #51cdbe;
  border-radius: 5rem;
  margin-bottom: 2rem;
  position: relative;
}

.en_70 {
  width: 40%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 17.6rem;
}
.fr_10 {
  width: 10%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 23.18rem;
}
.hyc_60 {
  width: 60%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 12.05rem;
}
.js_40 {
  width: 40%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 17.6rem;
}
.react_40 {
  width: 40%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 23.18rem;
}
.nd_30 {
  width: 30%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 28.7rem;
}
.psql_30 {
  width: 30%;
  border: 5px solid #f4ae5e;
  border-radius: 5rem 0 0 5rem;
  position: absolute;
  top: 34.28rem;
}

.stats {
  margin-top: 10rem;
  width: 100vw;
  height: 28rem;
  background: #a3e0db;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats p {
  font-size: 5rem;
  color: #fff;
}

.stats span {
  font-size: 1.5rem;
  color: #868686;
}
/*SERVICES SECTION*/
.services {
  width: 100vw;
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.services h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
}
.services div {
  width: 30%;
}
.services p {
  font-size: 1.5rem;
}
.services h2,
.services div {
  padding-left: 5rem;
}

/* CONTACTO SECTION */
.contacto {
  display: flex;
  position: relative;
}

.google_map {
  filter: brightness(50%);
  width: 100vw;
  height: 75vh;
}
form {
  display: flex;
  flex-flow: column;
  width: 40%;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  background: white;
  padding: 7rem 7rem 7rem 4rem;
  gap: 2rem;
  border-radius: 3rem;
  align-items: center;
}

form h2 {
  font-size: 2rem;
  color: #7b7979;
}

form input {
  width: 100%;
  height: 4rem;
  border: 1px solid #ebebeb;
  border-radius: 0.7rem;
  padding: 0.5rem;
}
form textarea {
  border-radius: 1rem;
  border: 1px solid #ebebeb;
}

form button {
  width: 100%;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  background: #51cdbe;
  color: white;
  text-transform: uppercase;
}
.contact_address {
  width: 30%;
  height: auto;
  background-color: white;
  position: absolute;
  top: 2.5rem;
  right: 5rem;
  padding: 7rem;
  border-radius: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #7b7979;
  box-shadow: 0 0.5rem 3px rgba(60, 60, 60, 0.221);
}

.contact_address h3 {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.contact_address ul {
  list-style: none;
}
.contact_address ul li {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.contact_address nav ul {
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  gap: 3rem;
}

.contact_address nav ul li {
  font-size: 2rem;
  color: #51cdbe;
}
/* FOOTER */

footer {
  height: 5rem;
  background: #a3e0db;
  text-align: center;
  line-height: 4;
}
/* MEDIAS QUERIES*/
